name: Destroy HA Kubernetes Cluster

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::919586551447:role/GitHubActionsKubernetesRole  

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform Init
        run: |
          terraform init -upgrade

      - name: Terraform Destroy
        run: |
          terraform destroy -auto-approve

      - name: Done
        run: |
          echo "✅ Cluster destroyed — clean slate."
